@{
    ViewBag.Title = "Home";
}
<h2>Choose products</h2>
<h3>@ViewBag.Message</h3>

<container>
    <div class="row product-list" data-bind="foreach: Products">
        <div class="col-md-3 card product-item">
            <img src="~/Content/stub.png" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title" data-bind="text: Name"></h5>
                <h6 class="card-text">Price: $<span data-bind="text: Price"></span></h6>
                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default btn-number" data-bind="click: $parent.removeFromCart">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                    </span>
                    <input type="text" class="form-control input-number" data-bind="value: AmountInCart" min="0" max="100">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default btn-number" data-bind="click: $parent.addToCart">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </span>
                </div>

            </div>
        </div>
    </div>
</container>